<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Bench press</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Bench press</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/bench_press_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Lie on your back on a bench, with your feet flat on the floor and your eyes under the bar. Your grip on the bar should be slightly wider than shoulder-width apart.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                Lift the bar off the rack and hold it over your chest with your arms fully extended. Lower the bar down to your chest while keeping your elbows at around a 45-degree angle to your body. Allow the bar to lightly touch your chest, then push it back up to the starting position by extending your arms. Repeat for the desired number of repetitions.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Maintain a strong and stable body position on the bench. Ensure your feet are firmly planted on the ground. Keep your back, shoulders, and hips in contact with the bench. Breathe in as you lower the bar and exhale as you press it back up. Use a spotter if lifting heavy weights for safety. Start with a weight that is manageable, and gradually increase it as you gain strength.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>