<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Core crunches</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Core crunches</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/core_crunches_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Lie on your back with your knees bent and your feet flat on the floor. Place your hands behind your head or across your chest.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                Lift your upper body off the ground by contracting your abdominal muscles. Keep your lower back on the floor. As you lift, focus on bringing your chest toward your knees. Lower your upper body back down without resting your head on the floor. Repeat for the desired number of repetitions.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Keep your neck relaxed and avoid pulling on it with your hands. Engage your core muscles to lift your upper body. Exhale as you lift, and inhale as you lower down. Start with a manageable range of motion and gradually increase it as you become more comfortable with the exercise.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>