<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Deadlift</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Deadlift</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/deadlift_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Stand with your feet hip-width apart, with a barbell on the ground in front of you. Your feet should be positioned so that the barbell is over the middle of your feet. Bend at your hips and knees to lower yourself and grip the barbell with both hands. Your hands should be shoulder-width apart, and your palms should be facing you.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                With a straight back and your chest up, lift the barbell by extending your hips and knees. Keep the barbell close to your body as you stand up. As you reach the standing position, fully extend your hips and stand tall. To lower the barbell, push your hips back and bend your knees while keeping the barbell close to your body. Once the barbell reaches knee height, gently lower it to the ground.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Maintain a strong and neutral spine throughout the movement. Keep the barbell close to your body during both the lift and descent. Engage your core and leg muscles to lift the weight. Breathe naturally; exhale as you stand up and inhale as you lower the barbell. Start with a weight that matches your strength level and gradually increase it as you become more comfortable with the exercise. Consider working with a fitness professional to ensure proper form, especially if you're new to deadlifts.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>