<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet"/>
    <title>Exercise</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Exercise</h1>

        <div class="exercise" onclick="(window.location.replace('pushups.html'))">
            <p class="exercise_title">Push-ups</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('pullups.html'))">
            <p class="exercise_title">Pull-ups</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('squats.html'))">
            <p class="exercise_title">Squats</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('plank.html'))">
            <p class="exercise_title">Plank</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('running.html'))">
            <p class="exercise_title">Running</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('bench_press.html'))">
            <p class="exercise_title">Bench press</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('bicep_curls.html'))">
            <p class="exercise_title">Bicep curls</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('tricep_extension.html'))">
            <p class="exercise_title">Tricep extension</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('deadlift.html'))">
            <p class="exercise_title">Deadlift</p>
        </div>

        <div class="exercise" onclick="(window.location.replace('core_crunches.html'))">
            <p class="exercise_title">Core crunches</p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>