<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>One Rep Max</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">1RM Calculator</h1>
            <form id="one_rep_max">
                <input type="text" name="weight" id="weight" placeholder="weight">
                <input type="text" name="reps" id="reps" placeholder="reps">
                <button type="submit">calculate</button>
            </form>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon_active.png">
                </a>
            </li>
        </ul>
    </nav>
    <script src="../static/measure.js"></script>
</body>
</html>