<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Plank</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Plank</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/plank_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Begin on the floor, resting on your forearms and toes. Ensure your elbows are directly beneath your shoulders.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                Keep your body in a straight line from head to heels. Engage your core muscles to maintain this position. Hold this posture for as long as you can without allowing your hips to sag or arch. Focus on breathing steadily and maintaining the straight alignment.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Engage your abdominal and back muscles to support your body. Avoid holding your breath; breathe regularly throughout the exercise. Focus on keeping your body in a straight line, and don't let your hips rise or sink. Start with a duration that matches your ability and gradually increase the time as your core strength improves.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>