<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Pull-ups</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Pull-ups</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/pull_ups_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Find a sturdy horizontal bar. Stand underneath it, reach up, and grab it with both hands, palms facing away from your body. Your hands should be slightly wider than shoulder-width apart.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                Hang from the bar with your arms fully extended. Keep your body straight with your legs together. Engage your core muscles to maintain stability. Pull your body upward by bending your elbows and pulling your chest towards the bar. Continue until your chin is above the bar. Lower your body back down to the fully extended arm position. Repeat for the desired number of repetitions.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Keep your body straight throughout the movement. Avoid swinging or using momentum. Breathe naturally; exhale as you pull up and inhale as you lower down. If you're new to pull-ups, consider using assistance from a resistance band or a pull-up machine to build strength.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>