<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Push-ups</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Push-ups</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/push_ups_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Begin in a plank position with your hands slightly wider than shoulder-width apart. Keep your body in a straight line from head to heels, engaging your core.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                Lower your body by bending your elbows while keeping them close to your sides. Lower until your chest is about an inch above the ground or as far as your strength allows. Push back up to the starting position. Fully extend your arms.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Maintain a straight body, engage your core, and avoid sagging hips. Keep your head in a neutral position. Inhale as you lower, exhale as you push up. Start with an appropriate number of reps and progress gradually.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>