<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Running</title>
</head>
<body>
    
    <div class="main">
        <h1 class="head_text">Running</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/running_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Starting Position: Begin by standing upright.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                Start by moving one leg forward while bending your knee, then push off the ground with your toes. Swing your opposite leg forward in a running motion, landing on the balls of your feet. Continue the alternating motion of moving your legs and swinging your arms to maintain a running pace. Keep your upper body relaxed and engage your core for stability.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Maintain an upright posture with a slight forward lean. Swing your arms naturally to assist in the running motion. Breathe steadily and rhythmically. Ensure your feet land beneath your hips, and push off with each step. Start at a comfortable pace and gradually increase your speed and distance as your endurance improves.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>