<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Squats</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Squats</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/squat_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Stand with your feet shoulder-width apart, toes pointing slightly outward, and your back straight.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                Engage your core muscles for stability. Begin to lower your body by bending at your hips and knees. Keep your back straight and your chest up. Lower your body until your thighs are parallel to the ground or as far as your flexibility and strength allow. Press through your heels to stand back up. Repeat the exercise for the desired number of repetitions.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Keep your knees in line with your feet, not allowing them to move too far forward. Your back should remain straight, not hunched over. Breathe naturally; inhale as you lower down and exhale as you stand up. Ensure your weight is evenly distributed on both feet. Start with a comfortable range of motion and depth, then gradually increase as you gain strength and flexibility.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>