<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>Tricep extensions</title>
</head>
<body>
    <div class="main">
        <h1 class="head_text">Tricep extensions</h1>
        <div class="exercise_image_box">
            <img class="exercise_image" src="../media/tricep_extensions_icon.png">
        </div>
        <div class="instruction_box">
            <p class="instruction_header">Starting Position:</p>
            <p class="instruction">
                Stand upright with a dumbbell in one hand, and raise your arm overhead. Your palm should be facing forward.
            </p>
            <p class="instruction_header">Execution:</p>
            <p class="instruction">
                Keep your upper arm close to your head and your elbow stationary. Bend your arm at the elbow, lowering the dumbbell behind your head. Extend your arm by straightening the elbow to raise the dumbbell back to the overhead position. Repeat for the desired number of repetitions.
            </p>
            <p class="instruction_header">Tips:</p>
            <p class="instruction">
                Maintain proper posture with your back straight and core engaged. Avoid excessive arching of the back. Breathe naturally; exhale as you extend your arm and inhale as you bend it. Start with a weight that is manageable, and gradually increase it as you gain strength.
            </p>
        </div>
    </div>
    <nav class="navbar">
        <ul class="nav_mobile">
            <li class="nav_element">
                <a href="profile.html">
                    <img class="profile_icon" src="../media/profile_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="workout.html">
                    <img class="workout_icon" src="../media/workout_icon.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="exercise.html">
                    <img class="exercise_icon" src="../media/exercise_icon_active.png">
                </a>
            </li>

            <li class="nav_element">
                <a href="measure.html">
                    <img class="measure_icon" src="../media/measure_icon.png">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>